<div class="token-component">
  <div class="token-component-inner">
    <div class="flex flex-col space-y-4 p-4">
      <h1 class="text-sm font-bold">Certificates</h1>
    </div>

    <div class="flex flex-col space-y-4 p-4 w-full">
      <div class="flex justify-between items-center w-full">
        <p class="text-sm text-default-label font-semibold">
          Aware Self Validation Certificate Sustainable Material
        </p>
        <button class="text-xs text-default-token">View</button>
      </div>

      <div class="flex flex-col w-full">
        <p class="text-sm text-default-label font-semibold mb-1">
          Aware Self Validation Certificate Sustainable Material
        </p>
        <div class="flex justify-between items-center">
          <p class="text-xs text-default-token font-semibold">OCS-OCS</p>
          <button class="text-xs text-default-token">View</button>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <p class="text-sm text-default-label font-semibold mb-1">
          Social Compliance Certificate
        </p>
        <div class="flex justify-between items-center">
          <p class="text-xs text-default-token font-semibold">Fair Wear</p>
          <button class="text-xs text-default-token">View</button>
        </div>
        <div class="flex justify-between items-center">
          <p class="text-xs text-default-token font-semibold">Fair Wear DSA</p>
          <button class="text-xs text-default-token">View</button>
        </div>
      </div>

      <div class="flex flex-col w-full">
        <p class="text-sm text-default-label font-semibold mb-1">
          Chemical Compliance Certificate
        </p>
        <div class="flex justify-between items-center">
          <p class="text-xs text-default-token font-semibold">Oeko Tex</p>
          <button class="text-xs text-default-token">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
