<div class="bg-default-background  px-8 pt-7 pb-10">
  <div class="flex flex-col justify-center items-center w-full">
    <div class="flex w-full justify-start items-center">
      <h1 class="text-2xl mr-4 font-bold open-sans-font">Aware™ Tokens</h1>
      <span class="border-l border-gray-300 h-5 w-1 mx-3"></span>
      <div class="mr-4">
        <img [src]="homeSvg" class="w-4 h-4" />
      </div>

      <div class="mr-3">
        <img [src]="forwardSvg" class="w-2 h-2" />
      </div>
      <p class="text-default-token text-xs">Create</p>
    </div>

    <div class="flex justify-end items-center w-full mb-4">
      <div class="bg-default-token p-1 rounded-md mr-2 cursor-pointer">
        <img [src]="editSvg" class="w-5 h-5" />

      </div>
      <p class="text-default-token text-sm cursor-pointer">Edit Token</p>
    </div>

    <div
      class="form-container-two-col inter-font"
    >
      <!-- left side form -->
      <div
        class="flex flex-col justify-center items-start w-full md:w-1/2 space-y-8"
      >
        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-type" class="text-default-label font-semibold text-xs"
              >AwareTM Token Type</label
            >
            <input
              id="token-type"
              class="st-input"
              value="Yarn"
            />
          </div>
          <div class="flex flex-col space-y-[2px] w-full">
            <label
              for="token-color"
              class="text-default-label font-semibold text-xs"
              >Color</label
            >
            <input
              id="token-color"
              class="st-input"
              value="green"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label
              for="token-quantity"
              class="text-default-label font-semibold text-xs"
              >Quantity</label
            >
            <input
              id="token-quantity"
              class="st-input"
              value="2019 kgs"
            />
          </div>
          <div class="flex flex-col space-y-[2px] w-full">
            <label
              for="token-producer"
              class="text-default-label font-semibold text-xs"
              >Producer</label
            >
            <input
              id="token-producer"
              class="st-input"
              value="Wool work ltd."
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label
              for="token-production-location"
              class="text-default-label text-xs font-semibold"
              >Production Location</label
            >
            <input
              id="token-production-location"
              class="st-input"
              value="93R4+GH AI Wahat AI Baharia, Egypt"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-vcp" class="text-default-label text-xs font-semibold"
              >Value Chain Process(Main)</label
            >
            <input
              id="token-vcp"
              class="st-input"
              value="Raw Material Processing"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-vcps" class="text-default-label text-xs font-semibold"
              >Value Chain Process(Sub)</label
            >
            <input
              id="token-vcps"
              class="st-input"
              value="Yarn Spinning"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-spc" class="text-default-label text-xs font-semibold"
              >Sustainable Process Claim</label
            >
            <input
              id="token-spc"
              class="st-input"
              value="N/A"
            />
          </div>
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-wpc" class="text-default-label text-xs font-semibold"
              >Wet Process Claim</label
            >
            <input
              id="token-wpc"
              class="st-input"
              value="N/A"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label
              for="token-tracer"
              class="text-default-label text-xs font-semibold"
              >Tracer</label
            >
            <input
              id="token-tracer"
              class="st-input"
              value="AwareTM  AWR 001"
            />
          </div>
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-psd" class="text-default-label text-xs font-semibold"
              >Positive Scan Date</label
            >
            <input
              id="token-psd"
              class="st-input"
              value="22/10/2024"
            />
          </div>
        </div>

        <div class="flex justify-between items-center space-x-10 w-full">
          <div class="flex flex-col space-y-[2px] w-full">
            <label for="token-ttr" class="text-default-label text-xs font-semibold"
              >Tracer Test Report</label
            >
            <input
              id="token-ttr"
              class="st-input"
              value="N/A"
            />
          </div>
        </div>
      </div>

      <!-- components -->
      <div
        class="flex flex-col justify-center items-stretch w-full md:w-1/2 space-y-4"
      >
        <app-material-details></app-material-details>
        <app-certificate></app-certificate>
        <div class="flex flex-col">
          <h1 class="text-default-token font-bold text-lg">2,019</h1>
          <p class="text-xs text-default-label font-semibold">
            AwareTM Token Created
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
