<div class="bg-[#FAFBFF] w-full border border-[#DDDEE4]">
    <div class="w-full flex flex-col items-start">
        <div class="w-[70%] flex flex-col space-y-4 p-4">
            <h1 class="text-sm font-bold">AwareTM Asset ID</h1>
            <a class="text-[#0352C9] text-sm hover:underline" href="#">CYC - yarn - 16/1 S - 50% Recycled Cotton / 40% Convential Cotton / 10% Recycled Polyester - Yellow - 77839H8873</a>
        </div>

        <div class="w-full">
            <table class="w-full">
                <thead class="bg-[#E0E9F8]">
                    <th class="text-xs p-2">Material</th>
                    <th class="text-xs p-2">%</th>
                    <th class="text-xs p-2">Sustainable</th>
                    <th class="text-xs p-2">Claim</th>
                    <th class="text-xs p-2">Origin</th>
                </thead>

                <tbody>
                    <tr class="">
                        <td class="text-center text-sm pt-4">Cotton</td>
                        <td class="text-center text-sm pt-4">42</td>
                        <td class="text-center text-sm pt-4">Yes</td>
                        <td class="text-center text-sm pt-4">Recycled</td>
                        <td class="text-center text-sm pt-4">Post-Consumer</td>
                    </tr>

                    <tr class="">
                        <td class="text-center text-sm pt-4">Polyster</td>
                        <td class="text-center text-sm pt-4">48</td>
                        <td class="text-center text-sm pt-4">Yes</td>
                        <td class="text-center text-sm pt-4">Recycled</td>
                        <td class="text-center text-sm pt-4">Post-Industrial</td>
                    </tr>

                    <tr class="">
                        <td class="text-center text-sm p-4">Linen</td>
                        <td class="text-center text-sm p-4">10</td>
                        <td class="text-center text-sm p-4">Yes</td>
                        <td class="text-center text-sm p-4">Recycled</td>
                        <td class="text-center text-sm p-4">N/A</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>